<h1>Welcome <%= @user.first_name %> to Easy Lawyer !</h1>

<p>Find and book a Lawyer around you in just a few clicks.</p>

<a href="">Click here to start</a>

<p>We want to bring the best of our services. Please contact us if you have any questions.</p>

