<div class="footer">
     <ul class="list-inline">
       <li>
         <h2><a href="#"><i class="fa fa-youtube"></i></a></h2>
       </li>
       <li>
         <h2><a href="#"><i class="fa fa-instagram"></i></a></h2>
       </li>
       <li>
         <h2><a href="#"><i class="fa fa-facebook"></i></a></h2>
       </li>
       <li>
         <h2><a href="#"><i class="fa fa-twitter"></i></a></h2>
       </li>
     </ul>
   <p>contact@easylawyer.com</p>
</div>
