<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 16, 17, 1) 0%, rgba(0,36,61,0.6) 50%), url('https://blog.udemy.com/wp-content/uploads/2014/04/bigstock-Young-female-lawyer-working-in-46311229.jpg');">
  <div class="banner-content">
    <h1>Easy lawyer</h1>
    <p>Find and book a Lawyer around you in just a few clicks</p>

  <%= form_tag lawyers_path, class: 'main-form', method: :get do %>
  <%= label :location, "Search Lawyers near : " %>
  <%= text_field_tag :location, params[:location] %>
  <%= submit_tag "Search", class: "btn -btn-primary " %>
  <% end %>
  </div>
</div>

<div class="container b2b-notoriety ">
  <div class="row">
    <div class="col-xs-4">
      <div class="elements text-center">15 000 Lawyers</div>
      <p class="text-center subtitle"> the best Lawyer Marketplace</p>
    </div>
    <div class="col-xs-4">
      <div class="elements text-center">Easy Peasy</div>
      <p class="text-center subtitle">The Lawyer you need in 3 clicks</p>
    </div>
    <div class="col-xs-4">
      <div class="elements text-center">Secured</div>
      <p class="text-center subtitle">your personal data protected</p>
    </div>
  </div>
</div>

