<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 16, 17, 1) 0%, rgba(0,36,61,0.6) 50%), url('https://blog.udemy.com/wp-content/uploads/2014/04/bigstock-Young-female-lawyer-working-in-46311229.jpg');">
  <div class="banner-content">
    <h1>Easy lawyer</h1>
    <p>Find and book a Lawyer around you in just a few clicks</p>
  </div>
</div>
