<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://s1.qwant.com/thumbr/0x0/8/6/cd6aa69b4b81734b1052c92e48602a/b_1_q_0_p_0.jpg?u=http%3A%2F%2Fcdn-europe1.new2.ladmedia.fr%2Fvar%2Feurope1%2Fstorage%2Fimages%2Feurope1%2Feconomie%2Fprofessions-reglementees-pourquoi-les-avocats-s-opposent-933860%2F18737316-1-fre-FR%2FProfessions-reglementees-pourquoi-les-avocats-s-opposent.jpg&q=0&b=1&p=0&a=1');">
  <div class="banner-content">
    <h1>Easy lawyer</h1>
    <p>Just Because you did it doesn't mean you're Guilty.</p>
    <a class="btn btn-primary btn-lg">Find your lawyer</a>
  </div>
</div>
