<h1>Congradulation <%= @lawyer.user.first_name %> !</h1>

<p>Your listing is created</p>

<a href="">Click here to see your listing</a>

<p>We want to bring the best of our services. Please contact us if you have any questions.</p>

